.baselayout__container {
  background: conic-gradient(
      from -79.8deg at 50% 50%,
      rgba(239, 111, 211, 0.1) 0deg,
      rgba(255, 0, 199, 0) 360deg
    ),
    conic-gradient(
      from 116.12deg at 3.54% 62.89%,
      rgba(146, 240, 155, 0.2) 0deg,
      rgba(0, 255, 25, 0) 360deg
    ),
    conic-gradient(
      from -13.25deg at 93.19% 92.19%,
      rgba(129, 239, 246, 0.3) 0deg,
      rgba(0, 240, 255, 0) 360deg
    ),
    conic-gradient(
      from -71.19deg at 101.53% 107.08%,
      #ffffff 0deg,
      rgba(255, 255, 255, 0.2) 360deg
    );
  height: 100%;
  width: 100%;
}
.baselayout__blur {
  backdrop-filter: blur(300px);
  height: 100%;
}
.baselayout__content {
  padding-left: 16rem;
  padding-right: 16rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.baselayout__logo {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.baselayout__credit {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
