.aboutyou__genericsection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.aboutyou__reversegenericsection {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.aboutyou__genericsection__image {
  width: 100%;
  max-height: 100%;
}
.aboutyou__genericsection__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  row-gap: 1rem;
}
.aboutyou__page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.aboutyou__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.aboutyou__playicon{
    position: absolute;
    bottom: 8rem;
    right: -10rem;
    border: 1px solid black;
    cursor: pointer;
}
.aboutyou__verticalsection {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.aboutyou__imagearray {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1rem;
    height: 30%;
    overflow: hidden;
    width: 80%;
}
.aboutyou__imagearray  > img{
    object-fit: cover;
}