.recommendation__container {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
}
.recommendation__title {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.recommendation__songs {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.recommendation__genericsection {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.recommendation__cta {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  height: 80vh;
}
